header{
    background:linear-gradient(135deg,#4facfe, #00f2fe);
    height:356px;
    padding:60px 60px;
}
body{
    background:linear-gradient(135deg, #eef2f7, #dbe4f0);
    margin: 0;
}
h1{
    text-align: center;
    color:white;
}
nav ul li{
    display: inline;
    color:#4facfe;
    font-size:34px;
    margin:18px;
}
a{
    text-decoration: none;
    color:#4facfe;
}
nav{
    display: flex;
    justify-content: center;
    background:white;
    box-shadow: 0 40px 12px rgba(0,0,0,0.05);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.lessons{
    background:white;
    height:356px;
    width:1796px;
    border-radius: 43px;
    padding-top:65px;
    box-shadow: 0 14px 30px rgba(0,0,0,0.08);
}
ol li{
    font-size:27px;
    margin: 12px;
}
.btn{
    background:#4facfe;
    height:45px;
    width:423px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:23px;
    margin-left:46px;
    color:white;
    border:none;
    cursor: pointer;
}
.timetable-window{
    position: fixed;
    inset: 0;
    left:0;
    right:0;
    background: linear-gradient(135deg,rgba(10, 25, 47, 0.95),rgba(15, 60, 70, 0.95));
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
.time{
    background-color: white;
    height: 813px;
    width:773px;
    padding-top:65px;
    border-radius: 45px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35),0 0 0 1px rgba(255, 255, 255, 0.05); ;
}
ul li{
    font-size: 23px;
}
b, p{
    font-size: 23px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-2{
    background-color: white;
    height:145px;
    padding-top:55px;
    width:100%;
}
.close{
    background: linear-gradient(135deg, #1b6f7a, #134e57);
    color: #fff ;
    border-radius: 12px;
    font-size: 23px;
    font-weight: 600;
    width:30%;
    height:45px;
    border:none;
    cursor: pointer;
    margin-bottom: 25px;
    margin-left: 23px;
}