header{
    background:linear-gradient(135deg,#4facfe, #00f2fe);
    height:356px;
    padding:60px 60px;
}
body{
    background:linear-gradient(135deg, #eef2f7, #dbe4f0);
    margin: 0;
}
h1{
    text-align: center;
    color:white;
}
nav ul li{
    display: inline;
    color:#4facfe;
    font-size:34px;
    margin:18px;
}
nav{
    display: flex;
    justify-content: center;
    background:white;
    box-shadow: 0 40px 12px rgba(0,0,0,0.05);
}
a{
    text-decoration: none;
    color:white;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.execrices{
    background:white;
    height:356px;
    width:1796px;
    border-radius: 43px;
    padding-top:65px;
    box-shadow: 0 14px 30px rgba(0,0,0,0.08);
}
ol li{
    font-size:27px;
    margin: 12px;
}
.btn{
    background:#4facfe;
    height:45px;
    width:323px;
    border-radius: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:23px;
    color:white;
    border:none;
    margin-left:46px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-2{
    background-color: white;
    height:145px;
    padding-top:55px;
    width:100%;
}
.Openwindow{
    position: fixed;
    inset: 0;
    top:0;
    left:0;    
    background: linear-gradient(135deg,rgba(10, 25, 47, 0.95),rgba(15, 60, 70, 0.95));
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}
h3{
    margin-bottom: 13px;
    color:black;
    font-size: 34px;
    font-weight: 700;
}
textarea{
    width: 100%;
    font-size: 19px;
    padding: 10px 12px;
    border:2px solid #d1d9de;
}
.assigments{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
    padding: 28px;        
    flex-direction: column;
    z-index: 101;
    border-radius: 45px;  
}
.assigments-page{
    background-color: white;
    z-index: 101;
    width: 783px; 
    height:889px;
    padding-top:135px; 
    border-radius: 45px;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.35),0 0 0 1px rgba(255, 255, 255, 0.05); 
}
.submit{
    background: linear-gradient(135deg, #1b6f7a, #134e57);
    color: #fff ;
    border-radius: 12px;
    font-size: 23px;
    font-weight: 600;
    width:90%;
    height:45px;
    border:none;
    cursor: pointer;
}
.close{
    background: linear-gradient(135deg, #1b6f7a, #134e57);
    color: #fff ;
    border-radius: 12px;
    font-size: 23px;
    font-weight: 600;
    width:20%;
    height:45px;
    border:none;
    margin-left: 34px;
    cursor: pointer;
}
input {
    width: 100%;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #d1d5db;
    font-size: 19px;
}